.button {
  display: flex;
  padding: 0 var(--spaces-3);
  justify-content: center;
  align-items: center;
  gap: var(--spaces-1);
  text-wrap: nowrap;

  font-size: var(--font-size-3);
  line-height: 1.42em;
  color: var(--background);
  font-weight: 500 !important;
  border: none;
  border-radius: 1000px;
  outline: none;
  cursor: pointer;

  transition: box-shadow 0.18s;
  will-change: box-shadow;
  &:disabled {
    cursor: not-allowed;
  }
}
